:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root,
html {
  width: 100%;
  min-height: 100vh;
}

body,
h6 {
  margin: 0;
}

$lightGreen: #b9e7e7;

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  .container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark color for the thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #333; /* Dark color for the track */
}

/* For Firefox */
/* Note: As of my last knowledge update, Firefox has limited support for styling scrollbars */
* {
  scrollbar-color: #555 #333;
  scrollbar-width: thin;
}
