// Single

$lightGreen: #b9e7e7;
.single {
    color: #000;
    background: #fff;
    padding: 5rem 1.5rem;
    margin-top: 4rem;
    border-radius: 5px;
    display: flex;
    gap: 100px;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 100%;
        max-height: 500px;
        border-radius: 10px;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-weight: bold;
        }
      }

      .edit {
        display: flex;
        gap: 5px;

        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      h1 {
        font-size: 42px;
        color: #333;
      }

      p {
        text-align: justify;
        line-height: 30px;
      }
    }

    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 35px;

      .post {
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          max-height: 200px;
          object-fit: cover;
        }

        span {
          font-size: small;
          color: #666
        }
      }
    }
  }