.header-section {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.single-header {
        background-color: #47a2bd;
    }
}

@media screen and (max-width: 600px) {
    .header-section {
        height: 25vh;
        padding: 1rem;
        text-align: center;
      h1 {
        font-size: 2rem;
        margin-top: 1.7rem;
      }
    }
  }