$lightBlue: #47a2bd;

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;

  &.scrolled {
    background-color: $lightBlue;
  }

  .nav-container {
    max-width: 70rem;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .logo {
      img {
        width: 120px;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1.1rem;

      h6 {
        font-size: inherit;
        font-weight: 300;
      }

      span {
        cursor: pointer;
      }

      button {
        color: #fff;
        text-transform: capitalize;
        font-size: inherit;
      }
    }
  }

  .menuhamburger, .menu-mobile {
    display: none;
  }

  .menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    background-color: #47a2bd;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    overflow-y: auto;

    .accordion {
      background-color: #47a2bd;
      background-image: none;
      border: 0;
      box-shadow: none;
      padding: 0;
      margin: 0;
      min-height: 20px;

      h6 {
        margin-bottom: .2rem;
      }
    }
  }
}

.categories-menu {
  .MuiPaper-root {
    max-height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0.5rem 1rem;
    .nav-container {
      .logo img {
        width: 100px;
      }
      .links {
        display: none;
      }
    }
    .menuhamburger {
      display: block;
    }
    .menu-mobile.active {
      display: flex;
    }
  }
}
